@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    /* outline: 1px solid red; */
    font-family: 'Poppins', sans-serif;
    cursor: url('https://img.icons8.com/fluency/48/3d-pointer--v1.png'),auto;
}

a , button, .navigator {
    cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAACKUlEQVR4nO2aPU8bQRCGN1DkV4QmEilQ0gTvHB+pIiQk6kiRaBBV/gW/IRINFUUKJFJ7xggQiK8gSgqU2MxcR4nkgBEEwaE9uMS+2HwY73J33CtNs9Psc+/uzs7qlMqVKzkqFLkXUNaAuKaJVwex/FqlUYC8BSRBFAZGpVEa5bwRRE5VGgV1EFGoNApykIQJckcSJsgdSZggdyRhgtyRFDnSX6q80iiLQFIFkqX3i9yj0ggCxAuNOV6Icua6b27KgHxsbtAFqvQ9GcRdIOYmHMudRTkgWY5B/lCJdQT5sjUknzTkUP5EuX6SN5pk3bilibeduNU2SKyPAeKLfzleaehxUDYTBzJQqgx6JdbxcQNWB3nUakk6BQHk4TCa5VpH3f7hC+fN2gMne2to9D1N/OFJiix0EOS2UDnIs3FkKugqkP8l1SCjWH6piedcQYAtECD5ft8JmLoRP4rDWlLcH7prDGyCFHD/Yztfsp0xsAmiSb5lAgSIOSsgtUyAaOLDTIAAyU4mQDTy14yA+F4mQFQQvNAolfSDqHB5Td4XxFTreI8RVvBYtW82BrZBPs0H3UDy6yFL7JFRVbYE5E+4AtHEe9ZAQleQfzoBQZ5VNuUhjztyZMwqyM1e2bEMsW1OSmVbXpHfmqccOxDyG5DfKVcC9D+bJ8+OQ5R4RLnWdb2Q3Q5BbJifdZxD/NVU0GW+IqBMm7UNyAdNXuT/j+vH6j0gnjEd6GPncQVPsyjsM5IQCAAAAABJRU5ErkJggg=='),auto;
}
